<h1>Welcome to the Admin Dashboard!</h1>
<p>You can view the number of products and categories in the database below.</p>
<p>There are <%= @products %> products in the database.</p>
<p>There are <%= @categories %> categories in the database.</p>
